<p>
  <strong>Hallo <%= @user.name %>!</strong><br>
  Dies ist eine automatisch generierte E-Mail von babylon-online.org. Du erhälst sie, da du 
  dich auf der Seite registriert hast. Um vorläufig die Zugänglichkeit von babylon-online 
  einzuschränken, müssen neue Anmeldungen zunächst von einem Administrator geprüft werden.
  Dieser Anfrage wurde entsprochen. Sie können sich nun, insofern Sie Ihre E-Mail-Adresse 
  verifiziert haben, anmelden.
</p>

<p>
  Hilfreiche Links:<br>
  Log in <%= @url %>.
</p>
