toastr["success"]("Successfully killed your session. <p class="text-smaller">Details: <%= @session.agent.name %></strong> on <%= @session.agent.platform.name %></p>");
$("#session_id_<%= @session.id %>").fadeOut();