<div class="container">
  <div class="row justify-content-md-center" style="margin:30vh 0;">
    <div class="col-md-auto">
      <h1>
        babylon-online.org
        <small><span class="text-muted">ein digitales Findbuch</span></small>
      </h1>
    </div>
  </div>
</div>

<section class="bg-secondary py-5">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md py-4"><%= link_to image_tag('fu-logo.svg', style: 'height: 100px;'), 'http://www.fu-berlin.de', target: :_blank %></div>
      <div class="col-md py-4"><%= link_to image_tag('dog-logo.png', style: 'height: 70px;'), 'http://www.orient-gesellschaft.de', target: :_blank %></div>
      <div class="col-md py-4"><%= link_to image_tag('smb-logo.svg', style: 'height: 70px;'), 'http://smb.museum', target: :_blank %></div>
      <div class="col-md py-4"><%= link_to image_tag('dfg-logo-weiss.svg', style: 'height: 70px;'), 'http://www.dfg.de/', target: :_blank %></div>
    </div>
  </div>
</section>