<p>
  <strong>Hallo Administratoren von babylon-online.org!</strong><br>
  Dies ist eine automatisch generierte E-Mail des Systems. Du erhälst sie, da du 
  als Administrator gekennzeichnet bist und die notwendigen Rechte zum Erledigen 
  der Anfrage die mit dieser E-Mail verbunden ist hast.
</p>

<p>
  <strong><%= @email %> is awaiting account approval!</strong>
</p>